@model InstructorIndexDataViewModel

@{
    ViewData["Title"] = "Professor";
}

<h2>Professor</h2>

<p>
    <a asp-action="Create">Novo Professor</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Data de contratação</th>
            <th>Escritório</th>
            <th>Cursos</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.InstructorsViewModels)
        {
            string selectedRow = "";
            if (item.Id == (int?)ViewData["InstructorId"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HireDate)
                </td>
                <td>
                    @if (item.OfficeAssignmentViewModel != null)
                    {
                        @item.OfficeAssignmentViewModel.Location
                    }
                </td>
                <td>
                    @{
                        foreach (var course in item.CourseAssignmentViewModels)
                        {
                            @course.CourseViewModel.Id @:  @course.CourseViewModel.Title <br />
                        }
                    }
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@item.Id">Selecionar</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.CourseViewModels != null)
{
    <h3>Cursos que são ministrados por professor selecionado</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Código curso</th>
            <th>Nome do curso</th>
            <th>Área do curso</th>
        </tr>

        @foreach (var item in Model.CourseViewModels)
        {
            string selectedRow = "";
            if (item.Id == (int?)ViewData["CourseId"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Selecionar", "Index", new { courseId = item.Id })
                </td>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.DepartmentViewModel.Name
                </td>
            </tr>
        }
    </table>
}
@if (Model.EnrollmentViewModels != null)
{
    <h3>
        Alunos matrículados no curso
    </h3>
    <table class="table">
        <tr>
            <th>Nome do aluno</th>
            <th>Nota</th>
        </tr>
        @foreach (var item in Model.EnrollmentViewModels)
        {
            <tr>
                <td>
                    @item.StudentViewModel.FirstName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
            </tr>
        }
    </table>
}