@model InstructorIndexDataViewModel

@{
    ViewData["Title"] = "Professor";
}

<h2>Professor</h2>

<p>
    <a asp-action="Create">Novo Professor</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Data de contratação</th>
            <th>Office</th>
            <th>Courses</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.InstructorsViewModel)
        {
            string selectedRow = "";
            if (item.Id == (int?)ViewData["InstructorId"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HireDate)
                </td>
                <td>
                    @if (item.OfficeAssignmentViewModel != null)
                    {
                        @item.OfficeAssignmentViewModel.Location
                    }
                </td>
                <td>
                    @{
                        foreach (var course in item.CourseAssignments)
                        {
                            @course.Course.Id @:  @course.Course.Title <br />
                        }
                    }
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@item.Id">Selecionar</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.CoursesViewModel != null)
{
    <h3>Courses Taught by Selected Instructor</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Number</th>
            <th>Title</th>
            <th>Department</th>
        </tr>

        @foreach (var item in Model.CoursesViewModel)
        {
            string selectedRow = "";
            if (item.Id == (int?)ViewData["CourseId"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Index", new { courseID = item.Id })
                </td>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Department.Name
                </td>
            </tr>
        }
    </table>
}
@if (Model.EnrollmentsViewModel != null)
{
    <h3>
        Students Enrolled in Selected Course
    </h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Grade</th>
        </tr>
        @foreach (var item in Model.EnrollmentsViewModel)
        {
            <tr>
                <td>
                    @item.Student.FirstName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
            </tr>
        }
    </table>
}