@model StudentViewModel

@{
    ViewData["Title"] = "Detalhes do Aluno";
}

<h2>Aluno</h2>

<div>
    <h4>Detalhes do aluno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnrollmentDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnrollmentViewModels)
        </dt>
        <dd>
            @if (Model.EnrollmentViewModels.Any())
            {
                <table class="table">
                    <tr>
                        <th>Nome do curso</th>
                        <th>Nota</th>
                    </tr>
                    @foreach (var item in Model.EnrollmentViewModels)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CourseTitle)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Grade)
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>Esse aluno não tem nenhuma matrícula.</p>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
